h2 {
    color:lightcyan; }
.header{
    background-color:lightcoral;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p,h3{
    text-align: center;
}
body{
    background-color:#808080;
}